{% from "macros/picture.njk" import picture %}

<section class="example">
    <div class="example__inner">
        <div class="example__story">
            <h2 class="example__title base-heading">Живой пример</h2>
            <p class="example__text">
                Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim.
                Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и
                по&#8209;прежнему спит по 16 часов в день.
            </p>
            <table class="example__stats stats">
                <tbody class="stats__body">
                    <tr class="stats__item">
                        <td class="stats__value">5 кг</td>
                        <td class="stats__parameter">снижение веса</td>
                    </tr>
                    <tr class="stats__item">
                        <td class="stats__value">60 дней</td>
                        <td class="stats__parameter">затрачено времени</td>
                    </tr>
                    <tr class="stats__costs costs">
                        <td class="costs__text">Затраты на питание:</td>
                        <td class="costs__value">15 000 руб.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="example__slider slider">
            <div class="slider__inner">
                <div class="slider__image-container slider__image-container--before">
                    {{ picture(
                        'slider__image slider__image--before',
                        'img/before',
                        '311', '232',
                        'Толстый котик до перехода на Кэт Энерджи'
                        )
                    }}
                </div>
                <div class="slider__image-container slider__image-container--after">
                    {{ picture(
                        'slider__image slider__image--after',
                        'img/after',
                        '311', '232',
                        'Худой котик после перехода на Кэт Энерджи'
                        )
                    }}
                </div>
                <div class="slider__controls">
                    <button class="slider__button slider__button--before" type="button">Было</button>
                    <input class="slider__toggle" type="range"
                            name="slider__toggle" id="slider__toggle" value="50"
                            min="0" max="100"
                            aria-label="Слайдер иллюстрирующий состояние кота до и после перехода на Cat Energy">
                    <button class="slider__button slider__button--after" type="button">Стало</button>
                </div>
            </div>
        </div>
    </div>
</section>
