<section class="example">
    <div class="example__inner">
        <div class="example__story">
            <h2 class="example__title base-heading">Живой пример</h2>
            <p class="example__text">
                Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim.
                Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и
                по&#8209;прежнему спит по 16 часов в день.
            </p>
            <table class="example__stats stats">
                <tbody class="stats__body">
                    <tr class="stats__item">
                        <td class="stats__value">5 кг</td>
                        <td class="stats__parameter">снижение веса</td>
                    </tr>
                    <tr class="stats__item">
                        <td class="stats__value">60 дней</td>
                        <td class="stats__parameter">затрачено времени</td>
                    </tr>
                    <tr class="stats__costs costs">
                        <td class="costs__text">Затраты на питание:</td>
                        <td class="costs__value">15 000 руб.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="example__slider slider">
            <div class="slider__inner">
                <picture class="slider__image-container slider__image-container--before">
                    <source type="image/webp" media="(min-width: 1300px)"
                            srcset="{{ 'img/before-desktop@1x.webp' | url }} 1x,
                                    {{ 'img/before-desktop@2x.webp' | url }} 2x">
                    <source type="image/webp" media="(min-width: 768px)"
                            srcset="{{ 'img/before-tablet@1x.webp' | url }} 1x,
                                    {{ 'img/before-tablet@2x.webp' | url }} 2x">
                    <source type="image/webp"
                            srcset="{{ 'img/before-mobile@1x.webp' | url }} 1x,
                                    {{ 'img/before-mobile@2x.webp' | url }} 2x">
                    <source type="image/png" media="(min-width: 1300px)"
                            srcset="{{ 'img/before-desktop@1x.png' | url }} 1x,
                                    {{ 'img/before-desktop@2x.png' | url }} 2x">
                    <source media="(min-width: 768px)"
                            srcset="{{ 'img/before-tablet@1x.png' | url }} 1x,
                                    {{ 'img/before-tablet@2x.png' | url }} 2x">
                    <img class="slider__image slider__image--before" src="img/before-mobile@1x.png"
                            srcset="{{ 'img/before-mobile@2x.png' | url }} 2x"
                            width="311" height="232"
                            alt="Толстый котик до перехода на Кэт Энерджи">
                </picture>
                <picture class="slider__image-container slider__image-container--after">
                    <source type="image/webp" media="(min-width: 1300px)"
                            srcset="{{ 'img/after-desktop@1x.webp' | url }} 1x,
                                    {{ 'img/after-desktop@2x.webp' | url }} 2x">
                    <source type="image/webp" media="(min-width: 768px)"
                            srcset="{{ 'img/after-tablet@1x.webp' | url }} 1x,
                                    {{ 'img/after-tablet@2x.webp' | url }} 2x">
                    <source type="image/webp"
                            srcset="{{ 'img/after-mobile@1x.webp' | url }} 1x,
                                    {{ 'img/after-mobile@2x.webp' | url }} 2x">
                    <source media="(min-width: 1300px)"
                            srcset="{{ 'img/after-desktop@1x.png' | url }} 1x,
                                    {{ 'img/after-desktop@2x.png' | url }} 2x">
                    <source media="(min-width: 768px)"
                            srcset="{{ 'img/after-tablet@1x.png' | url }} 1x,
                                    {{ 'img/after-tablet@2x.png' | url }} 2x">
                    <img class="slider__image slider__image--after" src="img/after-mobile@1x.png"
                            srcset="{{ 'img/after-mobile@2x.png' | url }} 2x"
                            width="311" height="232"
                            alt="Худой котик после перехода на Кэт Энерджи">
                </picture>
                <div class="slider__controls">
                    <button class="slider__button slider__button--before" type="button">Было</button>
                    <input class="slider__toggle" type="range"
                            name="slider__toggle" id="slider__toggle" value="50"
                            min="0" max="100"
                            aria-label="Слайдер иллюстрирующий состояние кота до и после перехода на Cat Energy">
                    <button class="slider__button slider__button--after" type="button">Стало</button>
                </div>
            </div>
        </div>
    </div>
</section>
