<section class="extra-products">
    <h2 class="extra-products__title subheading">Дополнительные товары</h2>
    <div class="extra-products__inner">
        <ul class="extra-products__list">
            {% for product in products.secondary %}
                <li class="extra-products__item">
                    <article class="extra-product">
                        <div class="extra-product__content">
                            <h3 class="extra-product__title">{{ product.name }}</h3>
                            <div class="extra-product__details">
                                {% for item in product.specs %}
                                    <p class="extra-product__feature">{{ item.value | safe }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="extra-product__link button" href="checkout.html">Заказать</a>
                    </article>
                </li>
            {% endfor %}
        </ul>
        <div class="extra-products__bonus bonus">
            <svg class="bonus__icon" width="56" height="60" aria-hidden="true" focusable="false">
                <use xlink:href="/img/sprite.svg#icon-gift"></use>
            </svg>
            <p class="bonus__text">
                Закажите все и&nbsp;получите чехол для кота в подарок!
            </p>
        </div>
    </div>
</section>
