<section class="extra-products">
    <div class="extra-products__inner">
        <table class="extra-products__price-list">
            <caption class="extra-products__caption">
                <h2 class="extra-products__title subheading">Дополнительные товары</h2>
            </caption>
            <thead class="visually-hidden">
                <tr>
                    <th>Товар</th>
                    <th>Размер упаковки</th>
                    <th>Цена</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="extra-product">
                    <td class="extra-product__title">Сахарозаменитель</td>
                    <td class="extra-product__feature">100 г</td>
                    <td class="extra-product__feature">200 Р.</td>
                    <td class="extra-product__action">
                        <a href="buy" class="button extra-product__link">Заказать</a>
                    </td>
                </tr>
                <tr class="extra-product">
                    <td class="extra-product__title">Питьевая вода</td>
                    <td class="extra-product__feature">5 литров</td>
                    <td class="extra-product__feature">50 Р.</td>
                    <td class="extra-product__action">
                        <a href="buy" class="button extra-product__link">Заказать</a>
                    </td>
                </tr>
                <tr class="extra-product">
                    <td class="extra-product__title">Молоко</td>
                    <td class="extra-product__feature">1 литр</td>
                    <td class="extra-product__feature">100 Р.</td>
                    <td class="extra-product__action">
                        <a href="buy" class="button extra-product__link">Заказать</a>
                    </td>
                </tr>
                <tr class="extra-product">
                    <td class="extra-product__title">Витамины</td>
                    <td class="extra-product__feature">30 г</td>
                    <td class="extra-product__feature">300 Р.</td>
                    <td class="extra-product__action">
                        <a href="buy" class="button extra-product__link">Заказать</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="extra-products__bonus bonus">
            <svg class="bonus__icon" width="56" height="60" aria-hidden="true" focusable="false">
                <use xlink:href="/img/sprite.svg#icon-gift"></use>
            </svg>
            <p class="bonus__text">
                Закажите все и&nbsp;получите чехол для кота в подарок!
            </p>
        </div>
    </div>
</section>
