<section class="page-main__features features">
    <h2 class="features__title base-heading">Как это работает</h2>
    <ul class="features__list">
        <li class="features__item">
            <div class="feature">
                <span class="feature__icon feature__icon--leaf" aria-hidden="true"></span>
                <p class="feature__text">
                    Функциональное питание содержит только полезные питательные вещества.
                </p>
            </div>
        </li>
        <li class="features__item">
            <div class="feature">
                <span class="feature__icon feature__icon--powder" aria-hidden="true"></span>
                <p class="feature__text">
                    Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
                </p>
            </div>
        </li>
        <li class="features__item">
            <div class="feature">
                <span class="feature__icon feature__icon--dining" aria-hidden="true"></span>
                <p class="feature__text">
                    Замените один-два приема обычной еды на наше функциональное питание.
                </p>
            </div>
        </li>
        <li class="features__item">
            <div class="feature">
                <span class="feature__icon feature__icon--clock" aria-hidden="true"></span>
                <p class="feature__text">
                    Уже через месяц наслаждайтесь изменениями к лучшему вашего&nbsp;питомца!
                </p>
            </div>
        </li>
    </ul>
</section>
