{% from "macros/picture.njk" import picture %}

<footer class="page-footer">
    <div class="page-footer__top page-footer__top--contrast">
        <div class="page-footer__top-inner">
            <p class="page-footer__text">Приглашаем к&nbsp;сотрудничеству дилеров!</p>
            <p class="page-footer__address address">
                <span class="address__street">{{ site.address.street }}</span>
                <span class="address__city">{{ site.address.city }}</span>
            </p>
        </div>
    </div>
    <div class="page-footer__middle">
        <a id="map" class="page-footer__map map-link" href="https://goo.gl/maps/5y6q4TU5HUWg9hCh6" target="_blank">
            {{ picture(
                'map-link__image',
                '/img/bg-map',
                '320', '400',
                'Наш офис в Санкт-Петербурге по адресу улица Большая Конюшенная, дом 19/8'
                )
            }}
        </a>
    </div>
    <div class="page-footer__bottom">
        <div class="page-footer__bottom-inner">
            <a class="page-footer__logo" {{ 'href=' + '/' | url if page.url !== '/' }}>
                <img class="page-footer__logo-image" src="/img/logo-footer.svg" width="128" height="24" alt="Текстовый логотип Кэт Энерджи">
            </a>
            <ul class="page-footer__socials socials">
                <li class="socials__item">
                    <a class="socials__link" href="https://vk.com/htmlacademy" target="_blank" aria-label="Мы во Вконтакте">
                        <svg class="socials__icon socials__icon--vk" width="22" height="12" aria-hidden="true" focusable="false">
                            <use xlink:href="/img/sprite.svg#icon-vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://instagram.com/htmlacademy" target="_blank" aria-label="Мы в Инстаграме">
                        <svg class="socials__icon socials__icon--ig" width="16" height="16" aria-hidden="true" focusable="false">
                            <use xlink:href="/img/sprite.svg#icon-insta"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://facebook.com/htmlacademy" target="_blank" aria-label="Мы в Фэйсбуке">
                        <svg class="socials__icon socials__icon--fb" width="20" height="19" aria-hidden="true" focusable="false">
                            <use xlink:href="/img/sprite.svg#icon-fb"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="page-footer__copyright copyright">
                <a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive" target="_blank">HTML Academy</a>
                <a class="copyright__link-logo" href="https://htmlacademy.ru/intensive/adaptive" target="_blank">
                    <span class="visually-hidden">Профессиональный онлайн‑курс HTML и CSS, уровень 2</span>
                    <svg class="copyright__logo" width="27" height="34" aria-labelledby="htmlacademy-logo-title" role="img">
                        <title id="htmlacademy-logo-title">Логотип Академии в виде геральдического щита с изображением академической шапки</title>
                        <use xlink:href="/img/sprite.svg#icon-htmlacademy"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
