<section class="page-main__hero hero">
    <h2 class="hero__subject">Функциональное питание для котов</h2>
    <p class="hero__slogan">Занялся собой? Займись котом!</p>
    <picture class="hero__image-wrapper">
        <source type=image/webp media="(min-width: 1300px)"
                srcset="img/index-can-desktop@1x.webp 1x,
                        img/index-can-desktop@2x.webp 2x">
        <source type=image/webp media="(min-width: 768px)"
                srcset="img/index-can-tablet@1x.webp 1x,
                        img/index-can-tablet@2x.webp 2x">
        <source type=image/webp
                srcset="img/index-can-mobile@1x.webp 1x,
                        img/index-can-mobile@2x.webp 2x">
        <source media="(min-width: 1300px)"
                srcset="img/index-can-desktop@1x.png 1x,
                        img/index-can-desktop@2x.png 2x">
        <source media="(min-width: 768px)"
                srcset="img/index-can-tablet@1x.jpg 1x,
                        img/index-can-tablet@2x.jpg 2x">
        <img class="hero__image" src="img/index-can-mobile@1x.png"
                srcset="img/index-can-mobile@2x.png 2x"
                width="280" height="270"
                alt="Упаковка еды Кэт Энерджи про с курицей в пластиковом стакане оранжевого цвета">
    </picture>
    <a class="hero__link button" href="form.html">Подобрать программу</a>
</section>
