<section class="page-main__objectives objectives">
    <h2 class="visually-hidden">Задачи, которые поможет решить наш корм</h2>
    <ul class="objectives__list">
        <li class="objectives__item">
            <article class="objective">
                <span class="objective__icon" aria-hidden="true">
                    <svg class="objective__cat-slim" width="35" height="49" aria-hidden="true" focusable="false">
                        <use xlink:href="{{ 'img/sprite.svg#icon-cat-slim' | url }}"></use>
                    </svg>
                </span>
                <h3 class="objective__title">Похудение</h3>
                <p class="objective__text">
                    Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на
                    диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
                </p>
                <a class="objective__link" href="{{ 'catalog/#slim' | url }}">Каталог Slim</a>
            </article>
        </li>
        <li class="objectives__item">
            <article class="objective">
                <span class="objective__icon" aria-hidden="true">
                    <svg class="objective__cat-pro" width="67px" height="28" aria-hidden="true" focusable="false">
                        <use xlink:href="{{ 'img/sprite.svg#icon-cat-pro' | url }}"></use>
                    </svg>
                </span>
                <h3 class="objective__title">Набор массы</h3>
                <p class="objective__text">
                    Заработать авторитет среди дворовых котов и&nbsp;даже собак? Серия Cat Energy Pro
                    поможет вашему коту нарастить необходимые <br class="tablet-only">мышцы!
                </p>
                <a class="objective__link" href="{{ 'catalog/#pro' | url }}">Каталог Pro</a>
            </article>
        </li>
    </ul>
</section>
