<section class="products">
    <h2 class="visually-hidden">Список товаров</h2>
    <ul class="products__list">
        <li class="products__item">
            <article class="product" id="pro">
                <a class="product__image-wrapper" href="{{ '/cat-energy-chicken-small.html' | url }}">
                    <picture>
                        <source type=image/webp media="(min-width: 1300px)"
                                srcset="{{ '/img/chicken-small-desktop@1x.webp' | url }} 1x,
                                        {{ '/img/chicken-small-desktop@2x.webp' | url }} 2x">
                        <source type=image/webp media="(min-width: 768px)"
                                srcset="{{ '/img/chicken-small-tablet@1x.webp' | url }} 1x,
                                        {{ '/img/chicken-small-tablet@2x.webp' | url }} 2x">
                        <source type=image/webp
                                srcset="{{ '/img/chicken-small-mobile@1x.webp' | url }} 1x,
                                        {{ '/img/chicken-small-mobile@2x.webp' | url }} 2x">
                        <source media="(min-width: 1300px)"
                                srcset="{{ '/img/chicken-small-desktop@1x.png' | url }} 1x,
                                        {{ '/img/chicken-small-desktop@2x.png' | url }} 2x">
                        <source media="(min-width: 768px)"
                                srcset="{{ '/img/chicken-small-tablet@1x.png' | url }} 1x,
                                        {{ '/img/chicken-small-tablet@2x.png' | url }} 2x">
                        <img class="product__image" src="{{ '/img/chicken-small-mobile@1x.jpg' | url }}"
                                srcset="{{ '/img/chicken-small-mobile@2x.jpg' | url }} 2x"
                                width="140" height="144"
                                alt="Cat Energy PRO 500 г с курицей в пластиковом стакане оранжевого цвета">
                    </picture>
                </a>
                <div class="product__text-wrapper">
                    <h3 class="product__title">
                        <a class="product__title-link" href="{{ '/cat-energy-chicken-small.html' | url }}">Cat Energy PRO 500&nbsp;г</a>
                    </h3>
                    <table class="product__specs specs">
                        <tr class="specs__item">
                            <td class="specs__text">Объем</td>
                            <td class="specs__value">500 г</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Вкус</td>
                            <td class="specs__value">Курица</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Цена</td>
                            <td class="specs__value">700 Р.</td>
                        </tr>
                    </table>
                </div>
                <a class="product__link button" href="{{ '/checkout.html' | url }}">Заказать</a>
            </article>
        </li>
        <li class="products__item">
            <article class="product">
                <a class="product__image-wrapper" href="{{ '/cat-energy-chicken-big.html' | url }}">
                    <picture>
                        <source type=image/webp media="(min-width: 1300px)"
                                srcset="{{ '/img/chicken-big-desktop@1x.webp' | url }} 1x,
                                        {{ '/img/chicken-big-desktop@2x.webp' | url }} 2x">
                        <source type=image/webp media="(min-width: 768px)"
                                srcset="{{ '/img/chicken-big-tablet@1x.webp' | url }} 1x,
                                        {{ '/img/chicken-big-tablet@2x.webp' | url }} 2x">
                        <source type=image/webp
                                srcset="{{ '/img/chicken-big-mobile@1x.webp' | url }} 1x,
                                        {{ '/img/chicken-big-mobile@2x.webp' | url }} 2x">
                        <source media="(min-width: 1300px)"
                                srcset="{{ '/img/chicken-big-desktop@1x.png' | url }} 1x,
                                        {{ '/img/chicken-big-desktop@2x.png' | url }} 2x">
                        <source media="(min-width: 768px)"
                                srcset="{{ '/img/chicken-big-tablet@1x.png' | url }} 1x,
                                        {{ '/img/chicken-big-tablet@2x.png' | url }} 2x">
                        <img class="product__image" src="{{ '/img/chicken-big-mobile@1x.jpg' | url }}"
                                srcset="{{ '/img/chicken-big-mobile@2x.jpg' | url }} 2x"
                                width="140" height="144"
                                alt="Cat Energy PRO 1000 г с курицей в пластиковом стакане оранжевого цвета">
                    </picture>
                </a>
                <div class="product__text-wrapper">
                    <h3 class="product__title">
                        <a class="product__title-link" href="{{ '/cat-energy-chicken-big.html' | url }}">Cat Energy PRO 1000&nbsp;г</a>
                    </h3>
                    <table class="product__specs specs">
                        <tr class="specs__item">
                            <td class="specs__text">Объем</td>
                            <td class="specs__value">1000 г</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Вкус</td>
                            <td class="specs__value">Курица</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Цена</td>
                            <td class="specs__value">1000 Р.</td>
                        </tr>
                    </table>
                </div>
                <a class="product__link button" href="{{ '/checkout.html' | url }}">Заказать</a>
            </article>
        </li>
        <li class="products__item">
            <article class="product">
                <a class="product__image-wrapper" href="{{ '/cat-energy-fish-small.html' | url }}">
                    <picture>
                        <source type=image/webp media="(min-width: 1300px)"
                                srcset="{{ '/img/fish-small-desktop@1x.webp' | url }} 1x,
                                        {{ '/img/fish-small-desktop@2x.webp' | url }} 2x">
                        <source type=image/webp media="(min-width: 768px)"
                                srcset="{{ '/img/fish-small-tablet@1x.webp' | url }} 1x,
                                        {{ '/img/fish-small-tablet@2x.webp' | url }} 2x">
                        <source type=image/webp
                                srcset="{{ '/img/fish-small-mobile@1x.webp' | url }} 1x,
                                        {{ '/img/fish-small-mobile@2x.webp' | url }} 2x">
                        <source media="(min-width: 1300px)"
                                srcset="{{ '/img/fish-small-desktop@1x.png' | url }} 1x,
                                        {{ '/img/fish-small-desktop@2x.png' | url }} 2x">
                        <source media="(min-width: 768px)"
                                srcset="{{ '/img/fish-small-tablet@1x.png' | url }} 1x,
                                        {{ '/img/fish-small-tablet@2x.png' | url }} 2x">
                        <img class="product__image" src="{{ '/img/fish-small-mobile@1x.jpg' | url }}"
                                srcset="{{ '/img/fish-small-mobile@2x.jpg' | url }} 2x"
                                width="140" height="144"
                                alt="Cat Energy PRO 500 г с рыбой в пластиковом стакане зеленого цвета">
                    </picture>
                </a>
                <div class="product__text-wrapper">
                    <h3 class="product__title">
                        <a class="product__title-link" href="{{ '/cat-energy-fish-small.html' | url }}">Cat Energy PRO 500&nbsp;г</a>
                    </h3>
                    <table class="product__specs specs">
                        <tr class="specs__item">
                            <td class="specs__text">Объем</td>
                            <td class="specs__value">500 г</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Вкус</td>
                            <td class="specs__value">Рыба</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Цена</td>
                            <td class="specs__value">700 Р.</td>
                        </tr>
                    </table>
                </div>
                <a class="product__link button" href="{{ '/checkout.html' | url }}">Заказать</a>
            </article>
        </li>
        <li class="products__item">
            <article class="product">
                <a class="product__image-wrapper" href="cat-energy-fish-big.html">
                    <picture>
                        <source type=image/webp media="(min-width: 1300px)"
                                srcset="{{ '/img/fish-big-desktop@1x.webp' | url }} 1x,
                                        {{ '/img/fish-big-desktop@2x.webp' | url }} 2x">
                        <source type=image/webp media="(min-width: 768px)"
                                srcset="{{ '/img/fish-big-tablet@1x.webp' | url }} 1x,
                                        {{ '/img/fish-big-tablet@2x.webp' | url }} 2x">
                        <source type=image/webp
                                srcset="{{ '/img/fish-big-mobile@1x.webp' | url }} 1x,
                                        {{ '/img/fish-big-mobile@2x.webp' | url }} 2x">
                        <source media="(min-width: 1300px)"
                                srcset="{{ '/img/fish-big-desktop@1x.png' | url }} 1x,
                                        {{ '/img/fish-big-desktop@2x.png' | url }} 2x">
                        <source media="(min-width: 768px)"
                                srcset="{{ '/img/fish-big-tablet@1x.png' | url }} 1x,
                                        {{ '/img/fish-big-tablet@2x.png' | url }} 2x">
                        <img class="product__image" src="{{ '/img/fish-big-mobile@1x.jpg' | url }}"
                                srcset="{{ '/img/fish-big-mobile@2x.jpg' | url }} 2x"
                                width="140" height="144"
                                alt="Cat Energy PRO 1000 г с рыбой в пластиковом стакане зеленого цвета">
                    </picture>
                </a>
                <div class="product__text-wrapper">
                    <h3 class="product__title">
                        <a class="product__title-link" href="cat-energy-fish-big.html">Cat Energy PRO 1000&nbsp;г</a>
                    </h3>
                    <table class="product__specs specs">
                        <tr class="specs__item">
                            <td class="specs__text">Объем</td>
                            <td class="specs__value">1000 г</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Вкус</td>
                            <td class="specs__value">Рыба</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Цена</td>
                            <td class="specs__value">1000 Р.</td>
                        </tr>
                    </table>
                </div>
                <a class="product__link button" href="checkout.html">Заказать</a>
            </article>
        </li>
        <li class="products__item">
            <article class="product" id="slim">
                <a class="product__image-wrapper" href="cat-energy-buckwheat-small.html">
                    <picture>
                        <source type=image/webp media="(min-width: 1300px)"
                                srcset="{{ '/img/buckwheat-small-desktop@1x.webp' | url }} 1x,
                                        {{ '/img/buckwheat-small-desktop@2x.webp' | url }} 2x">
                        <source type=image/webp media="(min-width: 768px)"
                                srcset="{{ '/img/buckwheat-small-tablet@1x.webp' | url }} 1x,
                                        {{ '/img/buckwheat-small-tablet@2x.webp' | url }} 2x">
                        <source type=image/webp
                                srcset="{{ '/img/buckwheat-small-mobile@1x.webp' | url }} 1x,
                                        {{ '/img/buckwheat-small-mobile@2x.webp' | url }} 2x">
                        <source media="(min-width: 1300px)"
                                srcset="{{ '/img/buckwheat-small-desktop@1x.png' | url }} 1x,
                                        {{ '/img/buckwheat-small-desktop@2x.png' | url }} 2x">
                        <source media="(min-width: 768px)"
                                srcset="{{ '/img/buckwheat-small-tablet@1x.png' | url }} 1x,
                                        {{ '/img/buckwheat-small-tablet@2x.png' | url }} 2x">
                        <img class="product__image" src="{{ '/img/buckwheat-small-mobile@1x.jpg' | url }}"
                                srcset="{{ '/img/buckwheat-small-mobile@2x.jpg' | url }} 2x"
                                width="140" height="144"
                                alt="Cat Energy Slim 500 г с гречкой в пластиковом стакане синего цвета">
                    </picture>
                </a>
                <div class="product__text-wrapper">
                    <h3 class="product__title">
                        <a class="product__title-link" href="cat-energy-buckwheat-small.html">Cat Energy Slim 500&nbsp;г</a>
                    </h3>
                    <table class="product__specs specs">
                        <tr class="specs__item">
                            <td class="specs__text">Объем</td>
                            <td class="specs__value">500 г</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Вкус</td>
                            <td class="specs__value">Гречка</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Цена</td>
                            <td class="specs__value">400 Р.</td>
                        </tr>
                    </table>
                </div>
                <a class="product__link button" href="checkout.html">Заказать</a>
            </article>
        </li>
        <li class="products__item">
            <article class="product">
                <a class="product__image-wrapper" href="cat-energy-buckwheat-big.html">
                    <picture>
                        <source type=image/webp media="(min-width: 1300px)"
                                srcset="{{ '/img/buckwheat-big-desktop@1x.webp' | url }} 1x,
                                        {{ '/img/buckwheat-big-desktop@2x.webp' | url }} 2x">
                        <source type=image/webp media="(min-width: 768px)"
                                srcset="{{ '/img/buckwheat-big-tablet@1x.webp' | url }} 1x,
                                        {{ '/img/buckwheat-big-tablet@2x.webp' | url }} 2x">
                        <source type=image/webp
                                srcset="{{ '/img/buckwheat-big-mobile@1x.webp' | url }} 1x,
                                        {{ '/img/buckwheat-big-mobile@2x.webp' | url }} 2x">
                        <source media="(min-width: 1300px)"
                                srcset="{{ '/img/buckwheat-big-desktop@1x.png' | url }} 1x,
                                        {{ '/img/buckwheat-big-desktop@2x.png' | url }} 2x">
                        <source media="(min-width: 768px)"
                                srcset="{{ '/img/buckwheat-big-tablet@1x.png' | url }} 1x,
                                        {{ '/img/buckwheat-big-tablet@2x.png' | url }} 2x">
                        <img class="product__image" src="{{ '/img/buckwheat-big-mobile@1x.jpg' | url }}"
                                srcset="{{ '/img/buckwheat-big-mobile@2x.jpg' | url }} 2x"
                                width="140" height="144"
                                alt="Cat Energy Slim 1000 г с гречкой в пластиковом стакане синего цвета">
                    </picture>
                </a>
                <div class="product__text-wrapper">
                    <h3 class="product__title">
                        <a class="product__title-link" href="cat-energy-buckwheat-big.html">Cat Energy Slim 1000&nbsp;г</a>
                    </h3>
                    <table class="product__specs specs">
                        <tr class="specs__item">
                            <td class="specs__text">Объем</td>
                            <td class="specs__value">1000 г</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Вкус</td>
                            <td class="specs__value">Гречка</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Цена</td>
                            <td class="specs__value">700 Р.</td>
                        </tr>
                    </table>
                </div>
                <a class="product__link button" href="checkout.html">Заказать</a>
            </article>
        </li>
        <li class="products__item">
            <article class="product">
                <a class="product__image-wrapper" href="cat-energy-rice-small.html">
                    <picture>
                        <source type=image/webp media="(min-width: 1300px)"
                                srcset="{{ '/img/rice-small-desktop@1x.webp' | url }} 1x,
                                        {{ '/img/rice-small-desktop@2x.webp' | url }} 2x">
                        <source type=image/webp media="(min-width: 768px)"
                                srcset="{{ '/img/rice-small-tablet@1x.webp' | url }} 1x,
                                        {{ '/img/rice-small-tablet@2x.webp' | url }} 2x">
                        <source type=image/webp
                                srcset="{{ '/img/rice-small-mobile@1x.webp' | url }} 1x,
                                        {{ '/img/rice-small-mobile@2x.webp' | url }} 2x">
                        <source media="(min-width: 1300px)"
                                srcset="{{ '/img/rice-small-desktop@1x.png' | url }} 1x,
                                        {{ '/img/rice-small-desktop@2x.png' | url }} 2x">
                        <source media="(min-width: 768px)"
                                srcset="{{ '/img/rice-small-tablet@1x.png' | url }} 1x,
                                        {{ '/img/rice-small-tablet@2x.png' | url }} 2x">
                        <img class="product__image" src="{{ '/img/rice-small-mobile@1x.jpg' | url }}"
                                srcset="{{ '/img/rice-small-mobile@2x.jpg' | url }} 2x"
                                width="140" height="144"
                                alt="Cat Energy Slim 500 г с рисом в пластиковом стакане фиолетового цвета">
                    </picture>
                </a>
                <div class="product__text-wrapper">
                    <h3 class="product__title">
                        <a class="product__title-link" href="cat-energy-rice-small.html">Cat Energy Slim 500&nbsp;г</a>
                    </h3>
                    <table class="product__specs specs">
                        <tr class="specs__item">
                            <td class="specs__text">Объем</td>
                            <td class="specs__value">500 г</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Вкус</td>
                            <td class="specs__value">Рис</td>
                        </tr>
                        <tr class="specs__item">
                            <td class="specs__text">Цена</td>
                            <td class="specs__value">500 Р.</td>
                        </tr>
                    </table>
                </div>
                <a class="product__link button" href="checkout.html">Заказать</a>
            </article>
        </li>
        <li class="products__item">
            <div class="show-more">
                <div class="show-more__content">
                    <h2 class="show-more__title">Показать еще 100500 товаров</h2>
                    <p class="show-more__text">На самом деле вкусов гораздо больше!</p>
                </div>
                <a class="show-more__link button button--gray" href="new-products.html">Показать все</a>
            </div>
        </li>
    </ul>
</section>
