{% from "macros/picture.njk" import picture %}

<section class="products">
    <h2 class="visually-hidden">Список товаров</h2>
    <ul class="products__list">
        {% for product in products.primary %}
            <li class="products__item">
                <article class="product">
                    <a class="product__image-wrapper" href="{{ product.link }}">
                        {{ picture(
                            'product__image',
                            product.img.src,
                            product.img.width, product.img.height,
                            product.img.alt
                            )
                        }}
                    </a>
                    <div class="product__text-wrapper">
                        <h3 class="product__title">
                            <a class="product__title-link" href="{{ product.link }}">{{ product.name | safe }}</a>
                        </h3>
                        <table class="product__specs specs">
                            {% for item in product.specs %}
                                <tr class="specs__item">
                                    <td class="specs__text">{{ item.param | safe }}</td>
                                    <td class="specs__value">{{ item.value | safe }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <a class="product__link button" href="checkout.html">Заказать</a>
                </article>
            </li>
        {% endfor %}
        <li class="products__item">
            <div class="show-more">
                <div class="show-more__content">
                    <h2 class="show-more__title">Показать еще 100500 товаров</h2>
                    <p class="show-more__text">На самом деле вкусов гораздо больше!</p>
                </div>
                <a class="show-more__link button button--gray" href="new-products.html">Показать все</a>
            </div>
        </li>
    </ul>
</section>
