@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin full-width {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
