.bonus {
  display: flex;
  flex-direction: column;
  min-height: 289px;
  padding: 40px 50px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bonus__icon {
  margin: 25px;

  fill: #ffffff;
}

.bonus__text {
  margin-top: auto;
  margin-bottom: 2px;

  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .bonus {
    flex-direction: row;
    min-height: 200px;
  }

  .bonus__text {
    max-width: 185px;
    margin-top: 0;
    margin-right: 50px;
    margin-left: auto;

    text-align: left;
  }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
  .bonus {
    flex-direction: column;
    max-width: 245px;
    margin: 0;
    padding-right: 40px;
    padding-left: 40px;
  }

  .bonus__text {
    margin-right: 0;

    text-align: center;
  }
}
