.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;

  font-size: 14px;
  line-height: 1.29;
  font-family: $font-brand;
  color: #ffffff;
  text-transform: uppercase;

  background-color: $brand-color;
}

.button--gray {
  color: $base-font-color;

  background-color: $accent-color;
}
