.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;

  font-size: 14px;
  line-height: 1.29;
  font-family: $font-brand;
  color: #ffffff;
  text-transform: uppercase;

  background-color: $color-brand;
}

.button--gray {
  color: $color-font-base;

  background-color: $color-accent;
}
