.feature__icon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: $offset-base;

  background-color: $color-brand;
.feature__icon--leaf {
  background-image: url("../../img/advantage-leaf@1x.png");
}

.feature__icon--powder {
  background-image: url("../../img/advantage-powder@1x.png");
}

.feature__icon--dining {
  background-image: url("../../img/advantage-dining@1x.png");
}

.feature__icon--clock {
  background-image: url("../../img/advantage-clock@1x.png");
}

.feature__text {
  margin: 0;

  color: $color-font-base;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .feature__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }
}
