.features {
  margin: $offset-base;
}

.features__list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: $offset-base;
  margin-left: 60px + $offset-base;

  color: $color-font-base;
}

.features__item::before {
  content: "";
  position: absolute;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: $color-brand;
}
