/* Задает отступы и рамку во всю ширину родителя */

.fieldset--full-width-border {
  margin-right: -$offset-base;
  margin-left: -$offset-base;
  padding-right: $offset-base;
  padding-left: $offset-base;

  border: 1px solid #ededed;
}
