.form {
  color: #222222;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 16px 0;

  border: none;
}

.form__label {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;

  font-size: 16px;
  line-height: 1.13;
  font-family: $font-brand;
  text-transform: uppercase;
}

.form__text-input {
  flex-grow: 1;
  width: 100px;
  min-height: 45px;
  margin-left: 16px;
  padding: 0 15px;

  font-size: 16px;
  font-family: $font-brand;
  text-transform: uppercase;

  border: solid 1px $color-input-border;

  appearance: textfield;
}

.form__text-input::placeholder,
.form__textarea::placeholder {
  color: $color-dark-gray;
  opacity: 1;
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 12px;
  padding-left: 14px;

  font-size: 16px;
  line-height: 1.13;
  font-family: $font-brand;
  text-transform: uppercase;

  border: 1px solid $color-input-border;

  resize: none;
}

.form__legend {
  line-height: 1.14;
  color: $color-dark-gray;
}
