.hero {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  z-index: -1;

  width: 100vw;
  height: 305px;
  margin-right: -50vw;
  margin-left: -50vw;

  background-image: url("../img/index-background-mobile@1x.jpg"),
    (linear-gradient(to right, #66a93c 0%, #66a93c 50%, #64a73a 50%, #64a73a 100%));
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hero__subject {
  margin-top: 27px;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  font-family: $font-brand;
  text-align: center;
  color: #ffffff;
}

.hero__slogan {
  margin-bottom: 26px;

  font-size: 14px;
  line-height: 1;
  font-family: $font-brand;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__image {
  margin-bottom: 3px;
}

.hero__link {
  align-self: stretch;
  min-width: 245px;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .hero {
    align-items: flex-start;
    padding: 0;
    padding-left: 90px;
  }

  .hero__subject {
    max-width: 415px;

    font-size: 60px;
    text-align: left;
    color: #111111;
  }

  .hero__slogan {
    font-size: 20px;
    color: #111111;
  }

  .hero::before {
    display: none;
  }

  .hero__image {
    z-index: -1;

    order: 2;
    width: 100%;
  }

  .hero__link {
    align-self: flex-start;
    min-height: 52px;

    font-size: 20px;
  }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
  .hero {
    position: initial;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 554px;
  }

  .hero__wrapper {
    margin-left: 80px;
  }

  .hero::before {
    position: absolute;
    top: 0;
    left: unset;

    display: block;
    width: 50vw;
    height: 696px;
  }

  .hero__image {
    width: 552px;
    height: 553px;
    margin: 0;
  }
}
