.hero {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  z-index: -1;

  width: 100vw;
  height: 305px;
  margin-right: -50vw;
  margin-left: -50vw;

  background-image: url("../img/index-background-mobile@1x.jpg"),
    (linear-gradient(to right, #66a93c 0%, #66a93c 50%, #64a73a 50%, #64a73a 100%));
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.hero__subject {
  max-width: 280px;
  margin-top: 27px;
  margin-bottom: 11px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  font-family: $font-brand;
  text-align: center;
  color: #ffffff;
}

.hero__slogan {
  margin-bottom: 28px;

  font-size: 14px;
  line-height: 1;
  font-family: $font-brand;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__image {
  display: block;
  margin-bottom: 3px;
}

.hero__link {
  align-self: stretch;
  min-width: 245px;

  font-size: 14px;
  line-height: 1.29;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .hero {
    align-items: flex-start;
    padding: 0;
    padding-left: 87px;
  }

  .hero__subject {
    max-width: 415px;
    margin-top: 0;
    margin-bottom: 41px;

    font-size: 60px;
    text-align: left;
    color: #111111;
  }

  .hero__slogan {
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: 1px;

    font-size: 20px;
    color: #111111;
  }

  .hero::before {
    display: none;
  }

  .hero__image-wrapper {
    order: 2;
    margin-left: -88px;
  }

  .hero__image {
    position: relative;
    left: 0;
    z-index: -1;

    order: 2;
    width: 709px;
    height: 609px;
    margin-top: -80px;
    margin-bottom: 0;

    object-fit: contain;
  }

  .hero__link {
    align-self: flex-start;
    min-height: 52px;
    margin-left: 2px;

    font-size: 20px;
    line-height: 1;
  }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
  .hero {
    position: static;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 554px;
    padding-left: 80px;
  }

  .hero__subject {
    margin-top: 79px;
  }

  .hero__slogan {
    margin-bottom: 53px;
    margin-left: 0;
  }

  .hero__image-wrapper {
    margin-left: -45px;
  }

  .hero::before {
    top: 0;
    right: -70px;
    left: auto;

    display: block;
    width: 720px;
    height: 696px;
    margin: 0;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right;
    background-size: cover;
  }

  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;

    width: 50vw;
    height: 696px;

    background-image: linear-gradient(to right, #66a93c 0%, #66a93c 50%, #64a73a 50%, #64a73a 100%);
  }

  .hero__image {
    width: 552px;
    height: 499px;
    margin: 0;
  }

  .hero__link {
    margin-left: 0;
  }
}
