.main-nav__toggle {
  position: absolute;
  top: 19px;
  right: 19px;

  width: 26px;
  height: 26px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  /* Иконка закрытия меню */

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 1px;

    width: 24px;
    height: 2px;

    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .main-nav {
    margin-left: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
