.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  width: 64px;
  height: 64px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  /* Бургер */
  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 20px;

    width: 24px;
    height: 2px;

    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
}

.main-nav--opened .main-nav__toggle {
  /* Иконка закрытия меню */

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 20px;

    width: 24px;
    height: 2px;

    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--no-js .site-list__item {
    display: block;
  }

  .main-nav--no-js .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;

    display: block;
  }

}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .main-nav {
    margin-left: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
