.objective {
  padding: $gap;

  background-color: $accent-color;
}

.objective__title {
  font-size: 24px;
  line-height: 1.54;
  font-family: $font-brand;
  color: $black;
  text-transform: uppercase;
}

.objective__link {
  font-size: 16px;
  line-height: 1;
  font-family: $font-brand;
  color: $black;
  text-transform: uppercase;
}
