.page-footer {
  background-color: $color-accent;

  @include full-width;
}

.page-footer__inner {
  width: 320px;
  padding-left: $offset-base;
  padding-right: $offset-base;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__top {
  display: flex;
  padding: $offset-base;
  justify-content: space-between;
  align-self: stretch;
}

.page-footer__top--contrast {
  background-color: #ffffff;
}

.page-footer__bottom {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: stretch;
  padding-bottom: 28px;
}

.page-footer__text-wrapper--contrast {
  background-color: #ffffff;
}

.page-footer__text {
  flex-basis: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-brand;
  color: $color-black;
  text-transform: uppercase;
}

.page-footer__address {
  line-height: 1.43;
  margin: 0;
}

.page-footer__socials {
  @include list-reset;

  margin-bottom: 22px;
  align-self: stretch;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-footer__logo {
  margin-top: $offset-base;
  margin-bottom: 30px;
  align-self: center;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .page-footer__inner {
    width: $tablet-width;
    padding: 0 30px;
  }

  .page-footer__top {
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    min-height: 200px;
  }

  .page-footer__bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__text {
    font-size: 20px;
  }

  .page-footer__address {
    line-height: 1.25;
    font-size: 16px;
    max-width: 180px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
  .page-footer__inner {
    width: $desktop-width;
    padding: 0 40px;
  }

  .page-footer__top {
    padding-top: 55px;
  }
}
