.page-footer {
  background-color: $color-accent;
}

.page-footer__text-wrapper--contrast {
  background-color: #ffffff;
}

.page-footer__text {
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-brand;
  color: $color-black;
  text-transform: uppercase;
}

.page-footer__socials {
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

.page-footer__copyright {
  padding: $offset-base;
}
