.site-list {
  @include list-reset;
  @include full-width;
}

.site-list__item {
  display: flex;
  min-height: 66px;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.site-list__link {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  line-height: 1;
  font-family: $font-brand-alternative;
  color: $color-black;
  text-transform: uppercase;

  &[href]:hover,
  &[href]:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &[href]:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .site-list {
    position: static;

    display: flex;
    width: auto;
    margin: 0;
  }

  .site-list__item {
    align-items: center;

    border-top: none;
  }

  .site-list__item:not(:last-of-type) {
    margin-right: 36px;
  }

  .site-list__link {
    min-height: 44px;

    font-size: 18px;
    font-family: $font-brand;

    border-bottom: 2px solid transparent;

    &:not([href]) {
      border-bottom-color: $color-brand;
    }
  }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;
    line-height: 1.25;

    &--inverse {
      color: white;

      &[href]:hover,
      &[href]:focus {
        color: rgba(255, 255, 255, 0.6);
      }

      &[href]:active {
        color: rgba(255, 255, 255, 0.3);
      }

      &:not([href]) {
        border-bottom-color: currentColor;
      }
    }
  }
}
