.slider__button {
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-brand;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;
}


@media (min-width: $tablet-width) {
  .slider__image {
    display: block;
    width: 100%;
  }

  .slider__button {
    font-size: 20px;
  }

  .slider__controls {
    display: flex;
    flex-grow: 1;
  }

  .slider__toggle {
    flex-grow: 1;
  }
}
