.bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 289px;

    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bonus__icon {
    margin-top: 65px;

    fill: #ffffff;
}

.bonus__text {
    width: 180px;
    margin-top: auto;
    margin-bottom: 42px;

    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .bonus {
        flex-direction: row;
        min-height: 200px;
        padding-right: 124px;
        padding-left: 90px;

        background-image: url("../../img/gift-photo-tablet@1x.jpg");
    }

    .bonus__text {
        max-width: 161px;
        margin-top: 5px;
        margin-bottom: 0;
        margin-left: auto;

        text-align: left;
    }

    .bonus__icon {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
    .bonus {
        flex-direction: column;
        width: 245px;
        margin: 0;
        padding-right: 40px;
        padding-left: 40px;

        background-image: url("../img/gift-photo-desktop@1x.jpg");
    }

    .bonus__icon {
        margin-top: 65px;
        margin-bottom: 57px;
        margin-left: 2px;
    }

    .bonus__text {
        margin-right: 0;
        margin-left: 0;

        text-align: center;
    }
}
