.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* IE11 fix */
    min-height: 40px;
    padding: 11px;

    font-size: 16px;
    line-height: 1.25;
    font-family: $font-brand;
    color: #ffffff;
    text-transform: uppercase;

    background-color: $color-brand;
    border: none;
    border-radius: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $color-brand-action;
    }

    &:active {
        color: rgba(255, 255, 255, 0.3);
    }

    &--gray {
        color: $color-font-base;

        background-color: $color-accent;

        &:hover,
        &:focus {
            background-color: #ebebeb;
        }

        &:active {
            color: rgba(68, 68, 68, 0.3);
        }
    }
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .button {
        font-size: 16px;
        line-height: 1;
    }
}
