.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright__link {
    margin-bottom: 3px;

    font-size: 16px;
    color: $color-font-base;
    word-spacing: -2px;

    &:active {
        color: rgba($color-font-base, 0.3);
    }
}

.copyright__link-logo {
    color: #666666;

    &:hover,
    &:focus {
        color: #68b738;
    }

    &:active {
        color: rgba(#68b738, 0.3);
    }
}

.copyright__logo {
    display: block;

    fill: currentColor;

    &:active {
        fill-opacity: 0.3;
    }
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .copyright__link {
        margin-right: 23px;
    }
}
