.example {
    padding-top: 17px;

    background-color: $color-accent;

    @include full-width;
}

.example__inner {
    display: flex;
    flex-direction: column;
    padding-right: $offset-base;
    padding-left: $offset-base;
}

.example__title {
    margin-top: 0;
    margin-bottom: 23px;
}

.example__text {
    margin-bottom: 25px;
    padding-right: 10px;
}

.example__stats {
    margin-right: auto;
    margin-bottom: 33px;
    margin-left: auto;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .example {
        padding-top: 42px;

        background-color: white;
        border-top: 1px solid #e6e6e6;
    }

    .example__inner {
        max-width: $tablet-width;
        margin: 0 auto;
        padding-right: 30px;
        padding-left: 30px;
    }

    .example__story {
        margin-bottom: 53px;
    }

    .example__title {
        margin-bottom: 64px;
    }

    .example__text {
        margin-bottom: 54px;
        padding-right: 0;

        font-size: 16px;
        line-height: 1.5;
    }

    .example__stats {
        flex-grow: 1;
        max-width: none;
    }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
    .example {
        z-index: 1;

        min-height: 655px;
        padding-top: 0;

        background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 193px, rgb(242, 242, 242) 193px, rgb(242, 242, 242) 100%);
        border: none;
    }

    .example__title {
        margin-bottom: 146px;
    }

    .example__stats {
        flex-grow: 0;
        margin-bottom: 0;
    }

    .example__inner {
        display: flex;
        flex-direction: row;
        max-width: $desktop-width;
        padding-right: 40px;
        padding-left: 40px;
    }

    .example__story {
        display: flex;
        flex-direction: column;
        width: 570px;
        min-height: 593px;
        margin-bottom: 62px;
        padding-top: 58px;
    }

    .example__text {
        max-width: 439px;
        margin-top: 0;
        margin-bottom: 68px;
        padding-right: 0;
    }

    .example__slider {
        flex-grow: 1;
    }
}
