.extra-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 13px;
    padding-bottom: 17px;

    border-bottom: 1px solid #cdcdcd;
}

.extra-product:first-of-type {
    border-top: 1px solid #cdcdcd;
}

.extra-products__caption {
    text-align: left;
}

.extra-product__title {
    grid-column: 1 / -1;
    margin-top: 0;
    margin-bottom: 14px;
    margin-left: 1px;

    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    font-family: $font-brand;
    color: #222222;
    text-transform: uppercase;
}

.extra-product__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.extra-product__feature {
    margin: 0;
    margin-bottom: 14px;

    line-height: 1;
}

.extra-product__feature + .extra-product__feature {
    text-align: end;
}

.extra-product__action {
    grid-column: 1 / -1;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .extra-product {
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 25px;
        padding-right: 36px;
        padding-bottom: 27px;
        padding-left: 37px;

        border-left: 1px solid #cdcdcd;
        border-right: 1px solid #cdcdcd;
    }

    .extra-product__title {
        grid-column: unset;
        margin: 0;

        font-size: 20px;
    }

    .extra-product__content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 20.5px;
        padding-left: 1px;
    }

    .extra-product__details {
        margin-bottom: 0;
    }

    .extra-product__feature {
        min-width: 130px;

        font-size: 16px;
        line-height: 1.5;
        text-align: right;
    }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
    .extra-product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 16px 0;

        border-right: none;
        border-left: none;
    }

    .extra-product__title {
        margin-right: auto;
    }

    .extra-product__content {
        flex-grow: 1;
        margin-top: 5px;
        margin-right: 39px;
        margin-bottom: 0;
    }

    .extra-product__details {
        min-width: 286px;
    }

    .extra-product__feature {
        font-size: 16px;
        text-align-last: left;
    }

    .extra-product__link {
        min-width: 245px;
    }
}
