.extra-products__title {
    margin-top: 28px;
    margin-bottom: 34px;
}

.extra-products__list {
    @include list-reset;

    margin-bottom: 39px;
}

.extra-products__item:not(:first-of-type) {
    margin-top: -1px;
}

.extra-products__bonus {
    margin-bottom: 35px;
}

.extra-products__price-list {
    width: 100%;
    border-collapse: collapse;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .extra-products__title {
        position: relative;

        display: inline-block;
        margin-top: 9px;
        margin-bottom: 80px;
        padding-right: 37px;
        padding-left: 37px;
    }

    .extra-products__list {
        margin-bottom: 0;
    }

    .extra-products__item {
        padding: 0;

        border: none;
    }

    .extra-products__bonus {
        margin-top: 69px;
        margin-bottom: 76px;
    }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
    .extra-products {
        padding-bottom: 86px;
    }

    .extra-products__title {
        margin-top: 45px;
        padding-left: 0;
    }

    .extra-products__inner {
        display: flex;
        justify-content: space-between;
    }

    .extra-products__list {
        flex-grow: 1;
        max-width: 895px;
    }

    .extra-products__bonus {
        margin: 0;
    }
}
