.main-nav__list {
    @include list-reset;
    @include full-width;
}

.main-nav__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-nav__link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 65px;
    min-height: 65px;

    font-size: 20px;
    line-height: 1;
    font-family: $font-brand-alternative;
    color: $color-black;
    text-transform: uppercase;

    &[href]:hover,
    &[href]:focus {
        color: rgba(17, 17, 17, 0.6);
    }

    &[href]:active {
        color: rgba(17, 17, 17, 0.3);
    }
}

.main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;

    width: 64px;
    height: 64px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
    &::before {
        /* Бургер */
        content: "";
        position: absolute;
        top: 23px;
        right: 20px;

        width: 24px;
        height: 2px;

        background-color: #000000;
        box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
    }
}

.main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
        /* Иконка закрытия меню */
        content: "";
        position: absolute;
        top: 31px;
        right: 20px;

        width: 24px;
        height: 2px;

        background-color: black;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

@media (max-width: $mobile-width-only) {
    .main-nav--closed .main-nav__item {
        display: none;
    }

    .main-nav--no-js .main-nav__item {
        display: block;
    }

    .main-nav--no-js .main-nav__toggle {
        display: none;
    }

    .main-nav--nojs .main-nav__wrapper {
        position: static;

        display: block;
    }
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .main-nav {
        margin-left: auto;
    }

    .main-nav__toggle {
        display: none;
    }

    .main-nav__list {
        position: static;

        display: flex;
        width: auto;
        margin: 0;
    }

    .main-nav__item {
        align-items: center;
        height: auto;
        min-height: auto;

        border-top: none;
    }

    .main-nav__item:not(:last-of-type) {
        margin-right: 35px;
    }

    .main-nav__link {
        height: auto;
        min-height: auto;
        padding-top: 14px;
        padding-bottom: 13px;

        font-size: 18px;
        font-family: $font-brand;

        &:not([href]) {
            box-shadow: 0 -2px $color-brand inset;
        }
    }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
    .main-nav__item:not(:last-of-type) {
        margin-right: 34px;
    }

    .main-nav__link {
        padding-top: 14px;
        padding-bottom: 11px;

        font-size: 20px;
        line-height: 1.25;

        &--inverse {
            color: white;

            &[href]:hover,
            &[href]:focus {
                color: rgba(255, 255, 255, 0.6);
            }

            &[href]:active {
                color: rgba(255, 255, 255, 0.3);
            }

            &:not([href]) {
                box-shadow: 0 -2px currentColor inset;
            }
        }
    }
}
