.objectives__list {
  @include list-reset;
}

.objectives__item:not(:last-of-type) {
  margin-bottom: $offset-base;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .objectives__item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
  .objectives__list {
    display: flex;
    justify-content: space-between;
  }

  .objectives__item {
    display: flex;
  }

  .objectives__item:not(:last-of-type) {
    margin-bottom: 0;
  }
}
