.page-main__title {
  margin-top: 15px;
  margin-bottom: 25px;
}

.page-main__inner {
  padding-right: $offset-base;
  padding-left: $offset-base;
}

.page-main__hero {
  margin-bottom: 22px;
}

.page-main__objectives {
  margin-bottom: 16px;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .page-main {
    padding-top: 32px;
  }

  .page-main__title {
    margin-top: 0;
    margin-bottom: 55px;
  }

  .page-main__hero {
    margin-bottom: 0;
  }

  .page-main__inner {
    max-width: $tablet-width;
    margin: 0 auto;
    padding: 0 30px;
  }

  .page-main__form {
    padding-right: 37px;
    padding-bottom: 72px;
    padding-left: 40px;
  }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
  .page-main {
    padding-top: 0;
  }

  .page-main__title {
    margin-top: 46px;
    margin-bottom: 54px;
  }

  .page-main__inner {
    max-width: $desktop-width;
    padding: 0 40px;
  }

  .page-main__form {
    padding: 0;
    padding-bottom: 82px;
  }

  .page-main__hero {
    margin-bottom: 80px;
  }
}
