.products {
    padding-top: 3px;
}

.products__list {
    @include list-reset;
}

.products__item {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 19px;
    padding-bottom: 24px;
    padding-left: 19px;

    border: 1px solid $color-border;
}

/* --------- Mobile Only --------- */

@media (max-width: $mobile-width-only) {
    .products__item:not(:first-child) {
        margin-top: -1px;
    }
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .products {
        padding-top: 28px;
    }

    .products__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
        align-items: flex-end;
        gap: 60px;
    }

    .products__item {
        display: flex;
        padding: 0;
        margin: 0;
        border: none;
    }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
    .products {
        padding-top: 0;
    }

    .products__list {
        column-gap: 80px;
        row-gap: 60px;
    }
}
