.products {
    padding-top: 3px;
}

.products__list {
    @include list-reset;
}

.products__item {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 19px;
    padding-bottom: 24px;
    padding-left: 19px;

    border: 1px solid $color-border;
}

/* --------- Mobile Only --------- */

@media (max-width: $mobile-width-only) {
    .products__item:not(:first-child) {
        margin-top: -1px;
    }
}

/* --------- Tablet Only --------- */

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    .products__item:nth-child(2n) {
        margin-right: 0;
    }
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
    .products {
        padding-top: 28px;
    }

    .products__list {
        display: flex;
        flex-wrap: wrap;
    }

    .products__item {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin: 0;
        margin-right: 60px;
        margin-bottom: 58px;
        padding: 0;

        border: none;
    }

    .products__item::before {
        content: "";

        width: 100%;
        height: 82px;
    }

    .products__item:first-of-type {
        border-top: none;
    }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
    .products {
        padding-top: 0;
    }

    .products__item {
        margin-top: 30px;
        margin-right: 80px;
        margin-bottom: 30px;
    }

    .products__item:nth-child(4n) {
        margin-right: 0;
    }
}
