.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product__image {
  display: block;
  width: 100%;
}

.product__image-wrapper {
  width: 50%;
}

.product__text-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 50%;
}

.product__title {
  max-width: 65%;
  margin-top: 0;
  margin-bottom: 13px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-brand;
  text-transform: uppercase;
}

.product__title-link {
  color: $color-black;
}

.product__link {
  flex-grow: 1;
}

/* --------- Tablet --------- */

@media (min-width: $tablet-width) {
  .product {
    flex-grow: 1;
    flex-direction: column;
    max-width: 324px;
    min-height: 431px;

    background-color: #f2f2f2;
  }

  .product__image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 208px;
    margin-top: -82px;
    margin-bottom: 37px;
  }

  .product__text-wrapper {
    flex-grow: 0;
    align-items: center;
    align-self: stretch;
    width: 100%;
    margin-bottom: auto;
    padding-right: 37px;
    padding-left: 37px;
  }

  .product__title {
    max-width: 140px;
    margin-top: 0;
    margin-bottom: 18px;

    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  .product__specs {
    align-self: stretch;
  }

  .product__text {
    max-width: 250px;

    font-size: 16px;
    text-align: center;
  }

  .product__link {
    flex-grow: 0;
    align-self: stretch;
    margin-right: 37px;
    margin-bottom: 40px;
    margin-left: 37px;
  }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
  .product {
    min-width: auto;
    max-width: 245px;
  }

  .product__text {
    max-width: 169px;
  }

  .product__link {
    margin-right: 38px;
    margin-bottom: 41px;
    margin-left: 38px;
  }
}
