.slider {
    position: relative;
    right: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 328px;
    margin-right: -50vw;
    margin-left: -50vw;
}

.slider__inner {
    position: relative;

    width: 320px;
    min-height: 320px;
    margin-right: auto;
    margin-left: auto;
}

.slider__button {
    padding: 0;

    font-size: 16px;
    line-height: 1.25;
    font-family: $font-brand;
    color: #111111;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider__image {
    display: block;
    max-width: unset;

    background-color: #f2f2f2;
}

.slider__image--before {
    width: 320px;
}

.slider__controls {
    position: absolute;
    bottom: 28px;
    left: 51%;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;

    transform: translateX(-50%);
}

.slider__toggle {
    position: relative;

    width: 84px;
    height: 14px;
    margin-right: 18px;
    margin-left: 18px;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;

    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    cursor: pointer;

    appearance: none;

    &::-webkit-slider-thumb {
        width: 35px;
        height: 6px;

        background-color: #68b738;
        border: none;
        border-radius: 3px;

        appearance: none;
    }

    &::-moz-range-thumb {
        width: 35px;
        height: 6px;

        background-color: #68b738;
        border: none;
        border-radius: 3px;

        appearance: none;
    }

    &::-ms-track {
        height: 14px;

        color: transparent;

        background-color: #ffffff;
        border-color: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
        background-color: transparent;
        border-color: transparent;
        border-radius: 6px;
    }

    &::-ms-thumb {
        width: 35px;
        height: 6px;

        background-color: #68b738;
        border: none;
        border-radius: 3px;

        appearance: none;
    }
}

.slider__image-container {
    position: absolute;
    left: 0;

    overflow-x: hidden;
}

.slider__image-container--before {
    z-index: 1;
}

.slider__image-container--after {
    left: 9px;
}

@media (min-width: $tablet-width) {
    .slider {
        min-height: 631px;

        background-image: linear-gradient(180deg, #ffffff 0, #ffffff 169px, #f2f2f2 169px, #f2f2f2 100%);
    }

    .slider__inner {
        width: 768px;
        height: 100%;
        min-height: 631px;
    }

    .slider__image-container {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
    }

    .slider__image-container--before {
        width: 50%;
        overflow-x: hidden;

        background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 169px, rgb(242, 242, 242) 169px, rgb(242, 242, 242) 100%);
    }

    .slider__image-container--after {
        width: 100vw;
        margin-left: 0;

        background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 169px, rgb(234, 234, 234) 169px, rgb(234, 234, 234) 100%);
    }

    .slider__image {
        position: absolute;

        display: block;
        width: 690px;
        max-width: none;
        height: 517px;
        margin-top: auto;
        margin-bottom: 37px;
        margin-left: 46px;

        background-color: transparent;
    }

    .slider__button {
        padding-bottom: 4px;

        font-size: 20px;

        border-bottom: 1px dotted #d2d2d2;
    }

    .slider__controls {
        bottom: 58px;
        left: 50%;
        z-index: 2;

        display: flex;
        align-items: center;
        width: 570px;
        margin-right: auto;
        margin-left: auto;
    }

    .slider__toggle {
        flex-grow: 1;
        width: 428px;
        height: 50px;
        margin-top: 0;
        margin-right: 21px;
        margin-bottom: 0;
        margin-left: 24px;
        padding: 0;

        background-color: transparent;
        border: none;

        &::-moz-range-track {
            height: 6px;

            background-color: #dcdcdc;
            border-radius: 2.5px;
        }

        &::-moz-range-thumb {
            width: 32px;
            height: 32px;

            background-image: radial-gradient(#68b738 4px, #ffffff 4px);
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        }

        &:hover::-moz-range-thumb,
        &:focus::-moz-range-thumb {
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
        }

        &:active::-moz-range-thumb {
            border: 2px solid #68b738;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
        }

        &::-ms-track {
            height: 6px;

            background-color: #cdcdcd;
            border: none;
            border-radius: 2.5px;
        }

        &::-ms-fill-upper,
        &::-ms-fill-lower {
            color: transparent;

            background-color: transparent;
        }

        &::-ms-thumb {
            width: 32px;
            height: 32px;

            background-image: radial-gradient(#68b738 4px, #ffffff 4px);
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        }

        &:hover::-ms-thumb,
        &:focus::-ms-thumb {
            outline: none;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
        }

        &:active::-ms-thumb {
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
        }

        &::-webkit-slider-runnable-track {
            height: 6px;

            background-color: #cdcdcd;
            border-radius: 2.5px;
        }

        &::-webkit-slider-thumb {
            width: 32px;
            height: 32px;
            margin-top: -13px;

            background-image: radial-gradient(#68b738 4px, #ffffff 4px);
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        }

        &:hover::-webkit-slider-thumb,
        &:focus::-webkit-slider-thumb {
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
        }

        &:active::-webkit-slider-thumb {
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
        }
    }
}

/* --------- Desktop --------- */

@media (min-width: $desktop-width) {
    .slider {
        right: auto;
        left: auto;

        flex-grow: 0;
        width: 610px;
        margin-right: 0;
        margin-left: 0;

        background-image: linear-gradient(180deg, #ffffff 0, #ffffff 193px, #f2f2f2 193px, #f2f2f2 100%);
    }

    .slider__inner {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .slider__image {
        top: 3px;

        margin-left: 0;
    }

    .slider__image-container--before {
        width: 59.8%;

        background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 193px, rgb(242, 242, 242) 193px, rgb(242, 242, 242) 100%);
    }

    .slider__image-container--after {
        background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 193px, rgb(234, 234, 234) 193px, rgb(234, 234, 234) 100%);
    }

    .slider__controls {
        margin-left: 60px;
    }
}
