---
mySlug: blog
title: 'Блог'
preview: 'Блог о функциональном питании для кошек'
eleventyNavigation:
    order: 4
---
<h1 class="page__title">Блог</h1>

<ul class="posts">
    {% for post in collections.posts %}
        <li class="posts__item">
            <article class="post">
                <h2 class="post__title">
                    <a class="post__link" href="{{ post.url }}">{{ post.data.title }}</a>
                </h2>
                <img class="post__image" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="450" height="250">
                <time class="post__date">{{ post.data.date | postDate }}</time>
                <p class="post__desc">{{ post.data.description }}</p>
            </article>
        </li>
    {% endfor %}
</ul>
