---
mySlug: blog
title: 'Блог'
preview: 'Блог о функциональном питании для кошек'
eleventyNavigation:
    order: 4
---
<h1 class="page-main__title base-heading">{{ title }}</h1>
<ul class="posts">
    {% for post in collections.posts | reverse %}
        <li class="posts__item">
            <article class="post-card">
                <img class="post-card__image" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="450" height="250">
                <h2 class="post-card__title">
                    <a class="post-card__link" href="{{ post.url }}">{{ post.data.title | capitalizeTitle }}</a>
                </h2>
                <p class="post-card__desc">{{ post.data.description }}</p>
                <time class="post-card__date">{{ post.data.date | ruDate }}</time>
                <div class="tags">
                    {% for tag in post.data.tags %}
                        <span class="tag"> {{ tag if tag !== 'posts' }}</span>
                    {% endfor %}
                </div>
            </article>
        </li>
    {% endfor %}
</ul>
