---
title: 'Главная'
permalink: index.html
navInversed: true
eleventyNavigation:
    order: 1
---

<h1 class="visually-hidden">Кэт Энерджи - интернет-магазин функциональной еды для котов</h1>

{% include "hero.njk" %}
{% include "objectives.njk" %}
{% include "features.njk" %}
{% include "example.njk" %}
