html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-size: 14px;
  line-height: 1.29;
  font-family: $base-font;
  color: $base-font-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
