// Colors
$brand-color: #68b738;
$brand-color-action: #5eaa2f;
$accent-color: #f2f2f2;
$black: #111111;
$base-font-color: #444444;
$border-color: rgba(0, 0, 0, 0.1);
$input-border-color: #cdcdcd;
$input-border-action: #444444;
$input-border-error: #ff8282;
// Fonts
$brand-font: "Oswald", "Arial", sans-serif;
$brand-font-alternative: "Oswald Medium", "Arial", sans-serif;
$base-font: "Arial", sans-serif;
// Positioning
$gap: 20px;
