// Colors
$color-brand: #68b738;
$color-brand-action: #5eaa2f;
$color-accent: #f2f2f2;
$color-black: #111111;
$color-dark-gray: #444444;
$color-error: #ff8282;
$color-border: #ededed;
$color-input-border: #cdcdcd;
$color-input-border-active: $color-dark-gray;
$color-font-base: $color-dark-gray;
// Fonts
$font-brand: "Oswald", "Arial", sans-serif;
$font-brand-alternative: "Oswald Medium", "Arial", sans-serif;
$font-base: "Arial", sans-serif;
// Positioning
$offset-base: 20px;
// Viewport widths
$tablet-width: 768px;
$desktop-width: 1300px;
