---
title: "Страница не найдена"
layout: "page.njk"
permalink: "404.html"
tags: pages
---

<div class="not-found">
    <h1 class="not-found__title">Мур-Мяу! Такой&nbsp;страницы я не нашел!</h1>
    <p class="not-found__text">
        Предлагаю вернуться <a class="not-found__link" href="/">на главную</a>
    </p>
    <img class="not-found__image" src="/img/404.jpg" width="2000" height="1202" alt="Бело-серый кот лежит возле книжек">
</div>
